h1 {
    color: rgb(60, 60, 60);
    text-align: center;
}
body {
	margin-top: 50px;
	background-color:rgb(240, 240, 240);
	margin-left: 30%;
	margin-right: 30%;
	border: double;
	border-width. 1px;
	border-color: rgb(60, 60, 60);
	padding-top: 5%;
	padding-bottom: 10%;
	padding-left: 10%;
	padding-right: 10%;
	
}
div {
	background-color: rgb(240, 240, 240);
	text-align: center;
	border: solid;
	border-width. 0.5px;
	border-color: rgb(60, 60, 60);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgb(120, 50, 70);
}

